*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body{
    background-color: rgb(245, 190, 87);
    
}

.bg {
    width: 58%;
    height: 50%;
    position: absolute;
    background-repeat: no-repeat;
    z-index: -1;
    background-position: center;
    margin-left: 285px;
    margin-top: 10%;
    border-radius: 10%;
    } 

    .about{
        font-style: italic;
        font-weight: 500;
        text-align: center;
        margin-top: 8%;
    }